In [1]:
df <- read.delim("test_labels.tsv", sep = "\t", row.names = 1)
df

     label
ID1  Domain1
ID2  Domain1
ID3  Domain2
ID4  Domain3
ID5  Domain1
ID6  Domain2
ID7  Domain2
ID8  Domain1
ID9  Domain3
ID10 Domain4